.graph-chat__number {
    font-family: Roboto;
    color: #FFF;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-left: 6px;
}