.search-result__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px 16px;
    margin-bottom: 64px ;
}

@media screen and (max-width: 768px) {
    .search-result__list {
        margin-bottom: 24px ;
    }
  }

  @media screen and (max-width: 647px) {
    .search-result__list {
        grid-template-columns: 1fr;
    }
  }