.tech__main-title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    width: 344px;
    margin-right: 176px;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .tech__main-title {
        font-size: 30px;
        line-height: 34px;
    }
  }

  @media screen and (max-width: 450px) {
    .tech__main-title {
        width: 100%;
    }
  }