@import url(./__title/__title.css);
@import url(./__wrapper/__wrapper.css);
@import url(./__data/__data.css);

.graph {
    margin-right: 104px;
    margin-left: 104px;
}

@media screen and (max-width: 768px) {
    .graph {
        margin-right: 40px;
        margin-left: 40px;
    }
  }

  @media screen and (max-width: 320px) {
    .graph {
        margin-right: 16px;
        margin-left: 16px;
    }
  }