.analyze-by-day__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin: 0;
    padding-bottom: 48px;
    padding-top: 80px;
    margin-left: 104px;
}

@media screen and (max-width: 768px) {
    .analyze-by-day__title {
        margin-left: 40px;
        padding-top: 40px;
    }
  }

  @media screen and (max-width: 320px) {
    .analyze-by-day__title {
        margin-left: 16px;
        font-size: 22px;
        padding-bottom: 16px;
        padding-top: 24px;
    }
  }