.menu__item {
    padding-top: 30px;
}

.menu__item:first-child {
    margin-right: 34px;
}

@media screen and (max-width: 768px) {
    .menu__item {
        padding-top: 17px;
    }
  }

  @media screen and (max-width: 500px) {
    .menu__item:first-child {
        margin-right: 11px;
    }
  }