@import url(__avatar/__avatar.css);
@import url(__content/__content.css);
@import url(__text/__text.css);
@import url(__text/_analyze/_analyze.css);
@import url(__text/_light/_light.css);

.about {
    background: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 104px;
    display: flex;
}