.tech__item {
    margin-right: 39px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 19px;
}

@media screen and (max-width: 450px) {
    .tech__item {
        margin-right: 0px;
    }
    
  }