@import url(./__copyright/__copyright.css);
@import url(./__list/__list.css);
@import url(./__icons/__icons.css);
@import url(./__nav/__nav.css);
@import url(./__link/__link.css);
@import url(./__list-item/__list-item.css);
@import url(./__icon/__icon.css);

.footer {
    background: #FFFFFF;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-left: 104px;
    padding-right: 104px;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .footer {
        padding-left: 40px;
        padding-right: 40px;
    }
  }

  @media screen and (max-width: 760px) {
    .footer {
        flex-direction: column-reverse;
        align-items: baseline;
        padding-top: 20px;
    }
  }
