.about__avatar {
    margin-right: 56px;
}

@media screen and (max-width: 1135px) {
    .about__avatar {
        margin-right: 32px;
    }
  }

@media screen and (max-width: 768px) {
    .about__avatar {
        margin-right: 32px;
    }
  }

  @media screen and (max-width: 320px) {
    .about__avatar {
        margin-right: 0;
    }
  }