.about-info__wrapper {
    width: 57%;
    padding-top: 161px;
    padding-bottom: 94px;
    margin-left: 105px;
}

@media screen and (max-width: 768px) {
    .about-info__wrapper {
        width: 91%;
        margin-left: 40px;
        padding-top: 90px;
        padding-bottom: 40px;
    }
  } 

  @media screen and (max-width: 450px) {
    .about-info__wrapper {
        width: 91%;
        margin-left: 16px;
    }
  }